body{
    width: 100%;
    height: 100%;
    background: rgb(251,107,107);
    background: radial-gradient(circle, rgba(251,107,107,1) 0%, rgb(196, 70, 95) 100%);
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}
.root{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
header{
    margin-top: 40px;
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
header .logoHeader{
    width: 70px;
    height: 90px;
    margin-right: 10px;
}
header .descHeader, aside figcaption{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

aside{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    animation: zoomIn 1s;
}
.logoAside{
    margin-top: 40px;
    width: 144px;
    height: 170px;
}
.metaZap,.selectDeck{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
.btnAside{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
    margin-top: 30px;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 2px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
}
.inputDeck,.inputZaps{
    margin-top: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 246px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #FB6B6B;
    opacity: 0.9;
    border: none;
}
.inputZaps::placeholder, .inputDeck::placeholder{
    padding-left: 10px;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 140px;
}
main .quest{
    display: inline-flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 15%);
    border-radius: 5px;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    animation: flipInX 1s;
}
.numberQuest{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: #FFFFFF;
}
.question{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    width: 100%;
    height: 66px;
    display: inline-flex;
    max-height: 120px;
    min-height: 66px;
    background: #FFFFFF;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    animation: fadeIn 1s;
}
.questMid{
    margin-top: 2px;
    margin-left: 2px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.questMid, .numberQuest{
    width: 100%;
    height: fit-content;
    max-width: 500.12px;
    min-width: 280px;
    max-height: 120px;
    min-height: 46px;
}
.questLate{
    max-width: 500px;
    min-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
    height: 120px;
    min-height: 76px;
    animation: jackInTheBox 1s;
}
.options{
    position: relative;
    bottom: -10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
h6{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btnQuestRed,.btnQuestGreen,.btnQuestOrange{
    width: 84px;
    height: 37px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #FF3030;
    border-radius: 5px;
    border: none;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
.btnQuestGreen{
    background: #2FBE34;
}
.btnQuestOrange{
    background: #FF922E;
}
footer{
    text-align: center;
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 3px -10px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 5px;
    animation: fadeInUpBig 1s;
}
footer .result{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
footer .resultMsg{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
footer .followUp{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
}
footer .btnreload{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 167px;
    height: 32px;
    background: #FB6B6B;
    border-radius: 5px;
    color: #FFFFFF;
}
footer .resultMsg img{
    margin-right: 10px;
    width: 23px;
    height: 23px;
}
h2{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
h3{
    margin-bottom: 10px;
}
.result h4{
    width: 150px;
}
ion-icon[name="checkmark-circle"]{
    color: green;
}
ion-icon[name="close-circle"]{
    color: red;
}
ion-icon[name="help-circle"]{
    color: orange;
}
ion-icon[name="refresh"]{
    position: relative;
}
ion-icon[name="refresh"]{
    width: 10%;
    margin-left: 90%;
}
.play, button{
    cursor: pointer;
}
#display{
    display: none;
}
